<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.model.persistence.AnimalMapper">

    <resultMap id="animalResultMap" type="Animal">
        <id column="animal_id" property="id"/>
        <result column="animal_name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="getAnimals" resultMap="animalResultMap">
        SELECT
            animal_id,
            animal_name,
            description
        FROM animals
    </select>
    <select id="getAnimalByName" resultType="Animal">
        SELECT
        animal_id AS id,
        animal_name as name,
            description
        FROM animals
        WHERE animal_name = #{name}
    </select>
</mapper>