<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.model.persistence.PetMapper">

    <resultMap id="petResultMap" type="Pet">
        <id column="pet_id" property="id"/>
        <result column="pet_name" property="name"/>
        <result column="weight" property="weight"/>
        <result column="adopted" property="adopted"/>
        <association column="animal_id" property="animal" javaType="Animal">
            <id column="animal_id" property="id"/>
            <result column="animal_name" property="name"/>
            <result column="description" property="description"/>
        </association>
    </resultMap>

    <select id="getPets" resultMap="petResultMap">
        SELECT *
        FROM pets
        INNER JOIN animals a ON pets.animal_id = a.animal_id
    </select>

    <select id="getPetById" resultType="Pet" parameterType="long">
        SELECT
            pet_id,
            pet_name,
            animal_id,
            weight,
            adopted
        FROM pets
        WHERE pet_id = #{id}
    </select>
    <insert id="addPets" parameterType="java.util.List">
        INSERT INTO pets (pet_name, animal_id, weight, adopted) VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.name}, #{element.animal.id}, #{element.weight}, #{element.adopted}
        </foreach>
    </insert>
    <update id="updatePets" parameterType="java.util.List">
        <foreach collection="list" item="element" index="index" separator="; ">
            UPDATE pets
            SET
            pet_name = #{element.name},
            animal_id = #{element.animal.id},
            weight = #{element.weight},
            adopted = #{element.adopted}
            WHERE pet_id = #{element.id}
        </foreach>
    </update>
    <delete id="removePetsById" parameterType="java.util.List">
        DELETE FROM pets
        WHERE
        <foreach item="element" index="index" collection="list" open="(" close=")" separator="OR">
            pet_id = #{element}
        </foreach>
    </delete>
</mapper>